In [1]:
import pandas as pd
import numpy as np

import datetime
import pytz
import requests
from pandas.io.json import json_normalize

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
IEX_API_URL_TEMPLATE = 'https://api.iextrading.com/1.0/stock/{}/chart/5y'

djia_tickers = [
    'BA',   'PFE', 'MCD', 'WMT', 'KO',   'MRK',  'HD',   'V',   'JNJ',  'VZ',
    'CSCO', 'AXP', 'TRV', 'DIS', 'MSFT', 'UNH',  'DWDP', 'CAT', 'AAPL', 'UTX',
    'MMM',  'JPM', 'IBM', 'GS',  'XOM',  'INTC', 'NKE',  'CVX', 'PG',   'WBA' ]

In [3]:
def get_dataframe_from_ticker(ticker_symbol):
    r = requests.get(url = IEX_API_URL_TEMPLATE.format(ticker_symbol.lower()))
    df = json_normalize(r.json())

    df.insert(loc=0, column='symbol', value=ticker_symbol)

    df.date = pd.to_datetime(df.date, format='%Y-%m-%d')

    df['year'] = df.date.dt.year
    df['month'] = df.date.dt.month
    df['day'] = df.date.dt.day
    df['week'] = df.date.dt.week
    df['dayofweek'] = df.date.dt.dayofweek
    df['dayofyear'] = df.date.dt.dayofyear
    df['timestamp'] = df.date.values.astype(np.int64)

    df = df.drop(['label',
                  'change', 'changeOverTime', 'changePercent',
                  'high', 'low', 'open',
                  'unadjustedVolume', 'volume', 'vwap'],
                 axis=1)

    return df

In [12]:
aapl_hist = get_dataframe_from_ticker('AAPL')
aapl_hist.dtypes

symbol               object
close               float64
date         datetime64[ns]
year                  int64
month                 int64
day                   int64
week                  int64
dayofweek             int64
dayofyear             int64
timestamp             int64
dtype: object

In [11]:
print(min(aapl_hist.date), '-->', max(aapl_hist.date))

2014-03-17 00:00:00 --> 2019-03-14 00:00:00

In [14]:
df1 = get_dataframe_from_ticker('AAPL')
df2 = get_dataframe_from_ticker('AAPL')

In [17]:
df1.append(df2)

,symbol,close,date,year,month,day,week,dayofweek,dayofyear,timestamp
0,AAPL,69.1778,2014-03-17,2014,3,17,12,0,76,1395014400000000000
1,AAPL,69.7898,2014-03-18,2014,3,18,12,1,77,1395100800000000000
2,AAPL,69.7714,2014-03-19,2014,3,19,12,2,78,1395187200000000000
3,AAPL,69.4352,2014-03-20,2014,3,20,12,3,79,1395273600000000000
4,AAPL,69.9828,2014-03-21,2014,3,21,12,4,80,1395360000000000000
5,AAPL,70.8128,2014-03-24,2014,3,24,13,0,83,1395619200000000000
6,AAPL,71.5746,2014-03-25,2014,3,25,13,1,84,1395705600000000000
7,AAPL,70.8903,2014-03-26,2014,3,26,13,2,85,1395792000000000000
8,AAPL,70.5856,2014-03-27,2014,3,27,13,3,86,1395878400000000000
9,AAPL,70.5068,2014-03-28,2014,3,28,13,4,87,1395964800000000000
10,AAPL,70.4911,2014-03-31,2014,3,31,14,0,90,1396224000000000000
11,AAPL,71.1359,2014-04-01,2014,4,1,14,1,91,1396310400000000000
12,AAPL,71.2541,2014-04-02,2014,4,2,14,2,92,1396396800000000000
13,AAPL,70.7603,2014-04-03,2014,4,3,14,3,93,1396483200000000000
14,AAPL,69.8449,2014-04-04,2014,4,4,14,4,94,1396569600000000000
15,AAPL,68.7483,2014-04-07,2014,4,7,15,0,97,1396828800000000000
16,AAPL,68.7444,2014-04-08,2014,4,8,15,1,98,1396915200000000000
17,AAPL,69.6479,2014-04-09,2014,4,9,15,2,99,1397001600000000000
18,AAPL,68.7496,2014-04-10,2014,4,10,15,3,100,1397088000000000000
19,AAPL,68.2414,2014-04-11,2014,4,11,15,4,101,1397174400000000000
20,AAPL,68.5132,2014-04-14,2014,4,14,16,0,104,1397433600000000000
21,AAPL,68.0247,2014-04-15,2014,4,15,16,1,105,1397520000000000000
22,AAPL,68.1626,2014-04-16,2014,4,16,16,2,106,1397606400000000000
23,AAPL,68.9414,2014-04-17,2014,4,17,16,3,107,1397692800000000000
24,AAPL,69.7596,2014-04-21,2014,4,21,17,0,111,1398038400000000000
25,AAPL,69.8290,2014-04-22,2014,4,22,17,1,112,1398124800000000000
26,AAPL,68.9164,2014-04-23,2014,4,23,17,2,113,1398211200000000000
27,AAPL,74.5663,2014-04-24,2014,4,24,17,3,114,1398297600000000000
28,AAPL,75.1140,2014-04-25,2014,4,25,17,4,115,1398384000000000000
29,AAPL,78.0230,2014-04-28,2014,4,28,18,0,118,1398643200000000000
...,...,...,...,...,...,...,...,...,...,...
1228,AAPL,165.7291,2019-01-31,2019,1,31,5,3,31,1548892800000000000
1229,AAPL,165.8088,2019-02-01,2019,2,1,5,4,32,1548979200000000000
1230,AAPL,170.5186,2019-02-04,2019,2,4,6,0,35,1549238400000000000
1231,AAPL,173.4361,2019-02-05,2019,2,5,6,1,36,1549324800000000000
1232,AAPL,173.4958,2019-02-06,2019,2,6,6,2,37,1549411200000000000
1233,AAPL,170.2099,2019-02-07,2019,2,7,6,3,38,1549497600000000000
1234,AAPL,170.4100,2019-02-08,2019,2,8,6,4,39,1549584000000000000
1235,AAPL,169.4300,2019-02-11,2019,2,11,7,0,42,1549843200000000000
1236,AAPL,170.8900,2019-02-12,2019,2,12,7,1,43,1549929600000000000
1237,AAPL,170.1800,2019-02-13,2019,2,13,7,2,44,1550016000000000000
1238,AAPL,170.8000,2019-02-14,2019,2,14,7,3,45,1550102400000000000
1239,AAPL,170.4200,2019-02-15,2019,2,15,7,4,46,1550188800000000000
1240,AAPL,170.9300,2019-02-19,2019,2,19,8,1,50,1550534400000000000
1241,AAPL,172.0300,2019-02-20,2019,2,20,8,2,51,1550620800000000000
1242,AAPL,171.0600,2019-02-21,2019,2,21,8,3,52,1550707200000000000
1243,AAPL,172.9700,2019-02-22,2019,2,22,8,4,53,1550793600000000000
1244,AAPL,174.2300,2019-02-25,2019,2,25,9,0,56,1551052800000000000
1245,AAPL,174.3300,2019-02-26,2019,2,26,9,1,57,1551139200000000000
1246,AAPL,174.8700,2019-02-27,2019,2,27,9,2,58,1551225600000000000
1247,AAPL,173.1500,2019-02-28,2019,2,28,9,3,59,1551312000000000000
1248,AAPL,174.9700,2019-03-01,2019,3,1,9,4,60,1551398400000000000
1249,AAPL,175.8500,2019-03-04,2019,3,4,10,0,63,1551657600000000000
1250,AAPL,175.5300,2019-03-05,2019,3,5,10,1,64,1551744000000000000
1251,AAPL,174.5200,2019-03-06,2019,3,6,10,2,65,1551830400000000000
1252,AAPL,172.5000,2019-03-07,2019,3,7,10,3,66,1551916800000000000
1253,AAPL,172.9100,2019-03-08,2019,3,8,10,4,67,1552003200000000000
1254,AAPL,178.9000,2019-03-11,2019,3,11,11,0,70,1552262400000000000
1255,AAPL,180.9100,2019-03-12,2019,3,12,11,1,71,1552348800000000000
1256,AAPL,181.7100,2019-03-13,2019,3,13,11,2,72,1552435200000000000
1257,AAPL,183.7300,2019-03-14,2019,3,14,11,3,73,1552521600000000000

In [19]:
df1.duplicated()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1228    False
1229    False
1230    False
1231    False
1232    False
1233    False
1234    False
1235    False
1236    False
1237    False
1238    False
1239    False
1240    False
1241    False
1242    False
1243    False
1244    False
1245    False
1246    False
1247    False
1248    False
1249    False
1250    False
1251    False
1252    False
1253    False
1254    False
1255    False
1256    False
1257    False
Length: 1258, dtype: bool

In [24]:
df1.drop_duplicates(['symbol', 'date'], keep='last')

,symbol,close,date,year,month,day,week,dayofweek,dayofyear,timestamp
0,AAPL,69.1778,2014-03-17,2014,3,17,12,0,76,1395014400000000000
1,AAPL,69.7898,2014-03-18,2014,3,18,12,1,77,1395100800000000000
2,AAPL,69.7714,2014-03-19,2014,3,19,12,2,78,1395187200000000000
3,AAPL,69.4352,2014-03-20,2014,3,20,12,3,79,1395273600000000000
4,AAPL,69.9828,2014-03-21,2014,3,21,12,4,80,1395360000000000000
5,AAPL,70.8128,2014-03-24,2014,3,24,13,0,83,1395619200000000000
6,AAPL,71.5746,2014-03-25,2014,3,25,13,1,84,1395705600000000000
7,AAPL,70.8903,2014-03-26,2014,3,26,13,2,85,1395792000000000000
8,AAPL,70.5856,2014-03-27,2014,3,27,13,3,86,1395878400000000000
9,AAPL,70.5068,2014-03-28,2014,3,28,13,4,87,1395964800000000000
10,AAPL,70.4911,2014-03-31,2014,3,31,14,0,90,1396224000000000000
11,AAPL,71.1359,2014-04-01,2014,4,1,14,1,91,1396310400000000000
12,AAPL,71.2541,2014-04-02,2014,4,2,14,2,92,1396396800000000000
13,AAPL,70.7603,2014-04-03,2014,4,3,14,3,93,1396483200000000000
14,AAPL,69.8449,2014-04-04,2014,4,4,14,4,94,1396569600000000000
15,AAPL,68.7483,2014-04-07,2014,4,7,15,0,97,1396828800000000000
16,AAPL,68.7444,2014-04-08,2014,4,8,15,1,98,1396915200000000000
17,AAPL,69.6479,2014-04-09,2014,4,9,15,2,99,1397001600000000000
18,AAPL,68.7496,2014-04-10,2014,4,10,15,3,100,1397088000000000000
19,AAPL,68.2414,2014-04-11,2014,4,11,15,4,101,1397174400000000000
20,AAPL,68.5132,2014-04-14,2014,4,14,16,0,104,1397433600000000000
21,AAPL,68.0247,2014-04-15,2014,4,15,16,1,105,1397520000000000000
22,AAPL,68.1626,2014-04-16,2014,4,16,16,2,106,1397606400000000000
23,AAPL,68.9414,2014-04-17,2014,4,17,16,3,107,1397692800000000000
24,AAPL,69.7596,2014-04-21,2014,4,21,17,0,111,1398038400000000000
25,AAPL,69.8290,2014-04-22,2014,4,22,17,1,112,1398124800000000000
26,AAPL,68.9164,2014-04-23,2014,4,23,17,2,113,1398211200000000000
27,AAPL,74.5663,2014-04-24,2014,4,24,17,3,114,1398297600000000000
28,AAPL,75.1140,2014-04-25,2014,4,25,17,4,115,1398384000000000000
29,AAPL,78.0230,2014-04-28,2014,4,28,18,0,118,1398643200000000000
...,...,...,...,...,...,...,...,...,...,...
1228,AAPL,165.7291,2019-01-31,2019,1,31,5,3,31,1548892800000000000
1229,AAPL,165.8088,2019-02-01,2019,2,1,5,4,32,1548979200000000000
1230,AAPL,170.5186,2019-02-04,2019,2,4,6,0,35,1549238400000000000
1231,AAPL,173.4361,2019-02-05,2019,2,5,6,1,36,1549324800000000000
1232,AAPL,173.4958,2019-02-06,2019,2,6,6,2,37,1549411200000000000
1233,AAPL,170.2099,2019-02-07,2019,2,7,6,3,38,1549497600000000000
1234,AAPL,170.4100,2019-02-08,2019,2,8,6,4,39,1549584000000000000
1235,AAPL,169.4300,2019-02-11,2019,2,11,7,0,42,1549843200000000000
1236,AAPL,170.8900,2019-02-12,2019,2,12,7,1,43,1549929600000000000
1237,AAPL,170.1800,2019-02-13,2019,2,13,7,2,44,1550016000000000000
1238,AAPL,170.8000,2019-02-14,2019,2,14,7,3,45,1550102400000000000
1239,AAPL,170.4200,2019-02-15,2019,2,15,7,4,46,1550188800000000000
1240,AAPL,170.9300,2019-02-19,2019,2,19,8,1,50,1550534400000000000
1241,AAPL,172.0300,2019-02-20,2019,2,20,8,2,51,1550620800000000000
1242,AAPL,171.0600,2019-02-21,2019,2,21,8,3,52,1550707200000000000
1243,AAPL,172.9700,2019-02-22,2019,2,22,8,4,53,1550793600000000000
1244,AAPL,174.2300,2019-02-25,2019,2,25,9,0,56,1551052800000000000
1245,AAPL,174.3300,2019-02-26,2019,2,26,9,1,57,1551139200000000000
1246,AAPL,174.8700,2019-02-27,2019,2,27,9,2,58,1551225600000000000
1247,AAPL,173.1500,2019-02-28,2019,2,28,9,3,59,1551312000000000000
1248,AAPL,174.9700,2019-03-01,2019,3,1,9,4,60,1551398400000000000
1249,AAPL,175.8500,2019-03-04,2019,3,4,10,0,63,1551657600000000000
1250,AAPL,175.5300,2019-03-05,2019,3,5,10,1,64,1551744000000000000
1251,AAPL,174.5200,2019-03-06,2019,3,6,10,2,65,1551830400000000000
1252,AAPL,172.5000,2019-03-07,2019,3,7,10,3,66,1551916800000000000
1253,AAPL,172.9100,2019-03-08,2019,3,8,10,4,67,1552003200000000000
1254,AAPL,178.9000,2019-03-11,2019,3,11,11,0,70,1552262400000000000
1255,AAPL,180.9100,2019-03-12,2019,3,12,11,1,71,1552348800000000000
1256,AAPL,181.7100,2019-03-13,2019,3,13,11,2,72,1552435200000000000
1257,AAPL,183.7300,2019-03-14,2019,3,14,11,3,73,1552521600000000000

In [33]:
import pickle
file = open('djia_2019-02-28.pkl','rb')
df3 = pickle.load(file)

In [34]:
df3.dtypes

symbol                      object
change                     float64
changeOverTime             float64
changePercent              float64
close                      float64
date                datetime64[ns]
high                       float64
label                       object
low                        float64
open                       float64
unadjustedVolume             int64
volume                       int64
vwap                       float64
dtype: object

In [36]:
def preprocess_dataframe(df):
    df['year'] = df.date.dt.year
    df['month'] = df.date.dt.month
    df['day'] = df.date.dt.day
    df['week'] = df.date.dt.week
    df['dayofweek'] = df.date.dt.dayofweek
    df['dayofyear'] = df.date.dt.dayofyear
    df['timestamp'] = df.date.values.astype(np.int64)

    return df.drop(['label',
                    'change', 'changeOverTime', 'changePercent',
                    'high', 'low', 'open',
                    'unadjustedVolume', 'volume', 'vwap'],
                   axis=1)

In [37]:
preprocess_dataframe(df3)

,symbol,close,date,year,month,day,week,dayofweek,dayofyear,timestamp
0,BA,112.8392,2014-03-03,2014,3,3,10,0,62,1393804800000000000
1,BA,114.6081,2014-03-04,2014,3,4,10,1,63,1393891200000000000
2,BA,113.3409,2014-03-05,2014,3,5,10,2,64,1393977600000000000
3,BA,113.4025,2014-03-06,2014,3,6,10,3,65,1394064000000000000
4,BA,113.1209,2014-03-07,2014,3,7,10,4,66,1394150400000000000
5,BA,111.6688,2014-03-10,2014,3,10,11,0,69,1394409600000000000
6,BA,110.5951,2014-03-11,2014,3,11,11,1,70,1394496000000000000
7,BA,109.5039,2014-03-12,2014,3,12,11,2,71,1394582400000000000
8,BA,107.2686,2014-03-13,2014,3,13,11,3,72,1394668800000000000
9,BA,108.3422,2014-03-14,2014,3,14,11,4,73,1394755200000000000
10,BA,110.3751,2014-03-17,2014,3,17,12,0,76,1395014400000000000
11,BA,109.1607,2014-03-18,2014,3,18,12,1,77,1395100800000000000
12,BA,107.5766,2014-03-19,2014,3,19,12,2,78,1395187200000000000
13,BA,108.8878,2014-03-20,2014,3,20,12,3,79,1395273600000000000
14,BA,107.8758,2014-03-21,2014,3,21,12,4,80,1395360000000000000
15,BA,108.6150,2014-03-24,2014,3,24,13,0,83,1395619200000000000
16,BA,109.1431,2014-03-25,2014,3,25,13,1,84,1395705600000000000
17,BA,108.7118,2014-03-26,2014,3,26,13,2,85,1395792000000000000
18,BA,108.4302,2014-03-27,2014,3,27,13,3,86,1395878400000000000
19,BA,109.5303,2014-03-28,2014,3,28,13,4,87,1395964800000000000
20,BA,110.4367,2014-03-31,2014,3,31,14,0,90,1396224000000000000
21,BA,112.8304,2014-04-01,2014,4,1,14,1,91,1396310400000000000
22,BA,112.9184,2014-04-02,2014,4,2,14,2,92,1396396800000000000
23,BA,113.3321,2014-04-03,2014,4,3,14,3,93,1396483200000000000
24,BA,112.1000,2014-04-04,2014,4,4,14,4,94,1396569600000000000
25,BA,110.5247,2014-04-07,2014,4,7,15,0,97,1396828800000000000
26,BA,109.2575,2014-04-08,2014,4,8,15,1,98,1396915200000000000
27,BA,111.6600,2014-04-09,2014,4,9,15,2,99,1397001600000000000
28,BA,108.8086,2014-04-10,2014,4,10,15,3,100,1397088000000000000
29,BA,107.4270,2014-04-11,2014,4,11,15,4,101,1397174400000000000
...,...,...,...,...,...,...,...,...,...,...
1228,WBA,71.5626,2019-01-16,2019,1,16,3,2,16,1547596800000000000
1229,WBA,71.5527,2019-01-17,2019,1,17,3,3,17,1547683200000000000
1230,WBA,71.9900,2019-01-18,2019,1,18,3,4,18,1547769600000000000
1231,WBA,71.1551,2019-01-22,2019,1,22,4,1,22,1548115200000000000
1232,WBA,71.2744,2019-01-23,2019,1,23,4,2,23,1548201600000000000
1233,WBA,70.8867,2019-01-24,2019,1,24,4,3,24,1548288000000000000
1234,WBA,71.4533,2019-01-25,2019,1,25,4,4,25,1548374400000000000
1235,WBA,71.1452,2019-01-28,2019,1,28,5,0,28,1548633600000000000
1236,WBA,71.0656,2019-01-29,2019,1,29,5,1,29,1548720000000000000
1237,WBA,71.1750,2019-01-30,2019,1,30,5,2,30,1548806400000000000
1238,WBA,71.8210,2019-01-31,2019,1,31,5,3,31,1548892800000000000
1239,WBA,71.4433,2019-02-01,2019,2,1,5,4,32,1548979200000000000
1240,WBA,71.0259,2019-02-04,2019,2,4,6,0,35,1549238400000000000
1241,WBA,70.8768,2019-02-05,2019,2,5,6,1,36,1549324800000000000
1242,WBA,71.0358,2019-02-06,2019,2,6,6,2,37,1549411200000000000
1243,WBA,70.7675,2019-02-07,2019,2,7,6,3,38,1549497600000000000
1244,WBA,69.6940,2019-02-08,2019,2,8,6,4,39,1549584000000000000
1245,WBA,70.0419,2019-02-11,2019,2,11,7,0,42,1549843200000000000
1246,WBA,71.1253,2019-02-12,2019,2,12,7,1,43,1549929600000000000
1247,WBA,71.9900,2019-02-13,2019,2,13,7,2,44,1550016000000000000
1248,WBA,72.1100,2019-02-14,2019,2,14,7,3,45,1550102400000000000
1249,WBA,73.4300,2019-02-15,2019,2,15,7,4,46,1550188800000000000
1250,WBA,74.4300,2019-02-19,2019,2,19,8,1,50,1550534400000000000
1251,WBA,71.8000,2019-02-20,2019,2,20,8,2,51,1550620800000000000
1252,WBA,70.4700,2019-02-21,2019,2,21,8,3,52,1550707200000000000
1253,WBA,70.4300,2019-02-22,2019,2,22,8,4,53,1550793600000000000
1254,WBA,71.3100,2019-02-25,2019,2,25,9,0,56,1551052800000000000
1255,WBA,71.4800,2019-02-26,2019,2,26,9,1,57,1551139200000000000
1256,WBA,71.3700,2019-02-27,2019,2,27,9,2,58,1551225600000000000
1257,WBA,71.1900,2019-02-28,2019,2,28,9,3,59,1551312000000000000